.react-grid-item.react-grid-placeholder {
  background: #29B6F6;
  opacity: 0.2;
  transition-duration: 100ms;
  border-radius: 8px;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
